* {
  margin: 0;
  padding: 0;
}

body {
  /* border: 5px solid black; */
  font-style: sans-serif;
  line-height: 1.4;
}

.product {
  border: 3px solid black;
  width: 825px;
  margin: 50px auto;
}

.product-title {
  background-color: #f7f7f7;
  text-align: center;
  text-transform: uppercase;
  font: size 22px;
  padding: 15px;
}

/* Product info */
.price {
  font-size: 24px;
}

.shipping {
  font-size: 12px;
  text-transform: uppercase;
  /* color: rgb(121, 121, 121); */
  color: #777;
  font-weight: bold;
  margin-bottom: 20px;
}

.more-info:link,
.more-info:visited {
  color: black;
  text-decoration: underline;
}

.more-info:hover,
.more-info:active {
  text-decoration: none;
}

/* Product details */
.details-title {
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 15px;
  margin-top: 30px;
}

.details-list {
  list-style: square;
  margin-left: 20px;
}

.details-list li {
  margin-bottom: 10px;
}
/* Button */

.cart-button {
  background-color: #000;
  font-size: 20px;
  text-transform: uppercase;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 15px;
  width: 100%;
  border-top: 3px solid black;
}

.cart-button:hover {
  color: #000;
  background-color: #fff;
}
